
@font-face {font-family: "MANIFESTO"; src: url("Font/MANIFESTO.ttf") format("truetype");} 
@font-face {font-family: "Momcake"; src: url("Font/MomcakeThin-9Y6aZ.otf") format("opentype");}
@font-face {font-family: "Montserrat Black"; src: url("Font/MontserratBlack-3zOvZ.ttf") format("truetype");}
@font-face {font-family: "Montserrat Medium"; src: url("Font/MontserratMedium-lgZ6e.otf") format("opentype");}
@font-face {font-family: "Montserrat Light"; src: url("Font/MontserratLight-6YemM.otf") format("opentype");}
@font-face {font-family: "Montserrat ExtraLight"; src: url("Font/MontserratExtralight-jEZ6j.ttf") format("opentype");}
@font-face {font-family: "Rubik Light"; src: url("Font/Rubik-VariableFont_wght.ttf") format("truetype");}
@font-face {font-family: "Helvetica"; src: url("Font/Helvetica.ttf") format("truetype");}
/* *{
    border: 1px red dotted;
} */

body{
    background: #F4ECE6;
}

.mainBox{
    width: 100%;
    margin: 100px 0;
    margin-bottom: 0;
    padding: 100px 0;
    text-align: center;
    background-color: none;
    opacity: 0;
    animation: titleAnimate 500ms ease-in-out forwards;
    transform: translateY(20px);
}

@keyframes titleAnimate{
    0%{
        opacity: 0;
        transform: translateY(20px);
    }
    100%{
        opacity: 1;
        transform: translateY(0)
    }
}


.title{
    background: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90px;
    margin: auto;
    margin-bottom: 100px;
}

.title img{
    width: 20px;
    margin-top: 6px;
}

.title h1{
    font-family: "Montserrat Black";
    font-size: 2.5em;
}

.subMainBox{
    background: none;
    margin: auto;
    width: 700px;
}

.containerTitle{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

.containerTitle h1{
    text-align: left;
    font-family: "Montserrat medium";
    font-size: 2em;
}

.containerTitle button{
    height: 35px;
    width: 175px;
    border-radius: 20px;
    border: 2px solid #4361ee;
    background-color: #4361ee;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Montserrat Light";
    transition: 200ms;
    cursor: pointer;
}

.containerTitle button:hover{
    background: none;
    color: #000;
}

.containers{
    width: 100%;
    height: auto;
    background: #fff;
    box-shadow: #000 0px 0px 15px -10px;
    border-radius: 5px;
    padding: 65px 80px;
    margin-bottom: 80px;
    display: flex;
}

.part1{
    text-align: left;
    background: none;
    width: 45%;
}

.containers h2{
    font-size: 1.4em;
    font-family: "Montserrat medium";
    color: #4361ee;
}

.containers h3{
    font-size: 1.2em;
    font-family: "Montserrat medium";
    margin: 10px 0px;
}

.part2{
    background: none;
    width: 55%;
    height: 100%;
    padding: 30px 0 0 20px;
}

.containers p{
    text-align: left;
    font-family: "Montserrat Light";
    font-size: 1em;
}

.comp{
    text-align: left;
    margin-bottom: 40px;
}

.comp h2{
    color: #000;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    padding: 10px;
    width: 550px;
    background: none;
    margin-top: 10px;
}
.grid-item {
    background: none;
    width: auto;
    display: flex;
    margin: 2px;
    padding: 10px;
    font-size: 1em;
    text-align: center;
}

.grid-item img{
    width: 10px;
    margin: 3px 6px;
}
.grid-item p{
    font-size: 0.9em;
}

#container3{
    display: block;
}


#DNB{
    width: 100%;
}
.DNB{
    margin: 20px 0 20px 90%;
    margin-bottom: 0;
    height: auto;
    width: auto;
    border-radius: 15px;
    border: 2px solid #4361ee;
    background-color: #4361ee;
    color: #fff;
    font-family: "Montserrat Light";
    padding: 5px 15px;
    transition: 200ms;
    cursor: pointer;
}
    
.DNB:hover{
    background: none;
    color: #000;
}

@media screen and (max-width : 790px) and (min-width : 600px){
    .subMainBox{
        background: none;
        margin: 0;
        width: 95%;
    }

    .containerTitle{
        background-color: none;
        margin-left: 5%;
    }

    .containerTitle h1{
        font-size: 1.7em;
    }

    .containers{
        padding: 40px 50px;
        border-radius: 0 5px 5px 0;
    }

    .containers h2{
        font-size: 1.2em;
    }
    .containers h3{
        font-size: 1em;
    }

    .part2{
        padding-top: 0;
        top: 0;
        bottom: 0;
        display: flex;
        align-items: center;
        
    }
}

@media screen and (max-width : 600px) and (min-width: 320px){
    .title{
        width: 67px;
    }
    .title img{
        width: 15px;
        margin-top: 6px;
    }
    .title h1{
        font-size: 1.9em;
    }

    .subMainBox{
        background: none;
        margin: 0;
        width: 97%;
    }

    .containerTitle{
        background-color: none;
        margin-left: 5%;
    }

    .containerTitle h1{
        font-size: 1.3em;
    }

    .containerTitle button{
        height: 30px;
        width: 150px;
        font-size: 0.7em;
    }

    .containers{
        display: block;
        padding: 40px 30px 40px 30px;
        border-radius: 0 5px 5px 0;
    }

    .containers h2{
        font-size: 1.2em;
        margin: 0;
    }
    .containers h3{
        font-size: 1em;
        margin: 5px 0;
    }

    .part1{
        width: 100%;
        margin-bottom: 20px;
        text-align: center;
    }
    .part2{
        width: 100%;
        padding: 0;
        top: 0;
        bottom: 0;
        display: flex;   
    }
    .part2 p{
        font-size: .9em;
    }

    .grid-container {
        grid-template-columns: auto;
        margin-top: 15px;
        padding: 0px;
        width: 100%;
    }
    
}

@media screen and (max-width: 320px) {
    .title{
        width: 60px;
    }
    .title img{
        width: 15px;
        margin-top: 6px;
    }
    .title h1{
        font-size: 1.6em;
    }

    .subMainBox{
        background: none;
        margin: 0;
        width: 97%;
    }

    .containerTitle{
        background-color: none;
        margin-left: 5%;
    }

    .containerTitle h1{
        font-size: 1.1em;
    }

    .containerTitle button{
        height: 25px;
        width: 130px;
        font-size: 0.6em;
    }

    .containers{
        display: block;
        padding: 30px 25px 40px 25px;
        border-radius: 0 5px 5px 0;
    }

    .containers h2{
        font-size: 1em;
        margin: 0;
    }
    .containers h3{
        font-size: .8em;
        margin: 5px 0;
    }

    .part2 p{
        font-size: .7em;
    }
    .part1{
        width: 100%;
        margin-bottom: 20px;
        text-align: center;
    }
    .part2{
        width: 100%;
        padding: 0;
        top: 0;
        bottom: 0;
        display: flex;   
    }
    
    .grid-container {
        grid-template-columns: auto;
        margin-top: 15px;
        padding: 0px;
        width: 100%;
    }
    .grid-item {
        display: flex;
        margin: 0px;
        padding: 5px;
        font-size: 0.7em;
        text-align: center;
    }
    
}

@media screen and (max-width : 500px) {
    .DNB{
        display: block;
        margin: 40px auto;
    }
}